/* rgb(11, 235, 217);*/

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

body{
    /*a video will be playing in the background of the page*/
     background-image: url(https://www.pexels.com/video/digital-projection-of-abstract-geometrical-lines-3129671/);
    /* >Video by Pressmaster from www.pexels.com< */
    background-image: url(../images/img-geometrical.png);
    background-attachment: fixed;
}


/*code to have a video playing the background of the website*/
.background-video{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}

#bgvid {
    position: relative;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

/*The still background image will not be displayed unless it reaches the media screen size of a tablet or smaller*/
.background-image{
    display: none;
}

h1 {
    color:white;
    text-align: center;
    font-size: 56px;
}

/*making the nav bar sticky to the top of the screen on scroll*/
nav {
    position: sticky;
    top: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    z-index: 2;
}
/*Creating a flexbox to help make links manageable when on RSS screen*/
ul {
    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    justify-content: space-evenly;
    flex: 1 0 30%
}

li {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: #1d1f1c;
    border: #1d1f1c outset 5px;
}

a:link {
    color: darkgoldenrod;
}

a:visited {
    color: darkviolet;
}

aside {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 10px;
    color: white;
}

p{
    position: relative;
    font-size: x-large;
    width: auto;
    height: auto;
    color: white;
}

/*Creating a flexbox to allow for the images and links to resize as they are viewed on different screen sizes*/
.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-evenly;
}

.card-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex {
    flex: 1 0 auto;
}

.horiseon {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 40%;
    height: 70%;
}

.fig-text{
    font-size: larger;
    text-align: center;
    color: darkgoldenrod;
}

.showcase-image{
    margin: 0px;
    padding: 0px;
    text-align: center;
    flex: 1 0 40%;
}

.image-sizing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    align-content: center;
}

.personality {
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 0 20%
}

.zoom{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about-me{
    padding: 10px;
    color: gold;
    background-color: #1d1f1c;
    border: darkgray outset 5px;
}

#zoom {
    border-radius: 50%;
}

/*Defining the media size and new interactions with the website on a smaller screen. The image will now be displayed instead of the video.*/

@media screen and (max-width: 928px){

    .background-video{
        display: none;
    }

   
    .background-image{
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
        overflow: hidden;
        z-index: -1;
    }

    ul{
        justify-content:center;
    }

    li{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 728px){
    
}