/*creating some variables for repeat colors*/
:root {
    --gray: #1d1f1c;
    --green: rgb(11, 235, 217);
}


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

body{
    /*a video will be playing in the background of the page*/
     background-image: url(https://www.pexels.com/video/digital-projection-of-abstract-geometrical-lines-3129671/);
    /* >Video by Pressmaster from www.pexels.com< */
    background-image: url(../images/img-geometrical.png);
    background-attachment: fixed;
}


/*code to have a video playing the background of the website*/
.background-video{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0px;
    z-index: -1;
    overflow: hidden;
}

#bgvid {
    position: relative;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

/*The still background image will not be displayed unless it reaches the media screen size of a tablet or smaller*/
.background-image{
    display: none;
}

h1 {
    color:white;
    text-align: center;
    font-size: 56px;
}

/*making the nav bar sticky to the top of the screen on scroll and will stop when it reaches the top of the showcase*/
nav {
    position: sticky;
    top: 0;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 10px;
    z-index: 2;
}

/*Creating a flexbox to help make links easily clickable when on RSS screen*/
ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    justify-content: space-between;
    flex: 1 0 30%
}

/*Created boxes for users to click on and they will glow when hovered upon. The default link colors have been changed for visibility reasons.*/
li {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: white;
    font-size: xx-large;
    background-color: var(--gray);
    border: var(--gray) outset 5px;
}

a:link {
    color: darkgoldenrod;
}

a:visited {
    color: darkviolet;
}

/*Created foundation for flexboxes in the proceeding element articles so they flex when the screen sizes change*/
aside {
    position: relative;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

/*Made sure the images and photos would fit upon screen size changes*/
article{
    height: auto;
}

/*Continued color theme for text*/
p{
    position: relative;
    margin-top: 50px;
    font-size: x-large;
    color: darkgoldenrod;
}

/*Creating a flexbox to allow for the images and links to resize as they are viewed on different screen sizes*/
.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-content {
    justify-content: space-evenly;
}

/*Created a glow effect for all clickable links for continuity reasons*/
.glow:hover{
    box-shadow: 5px 5px 10px var(--green);
}

/*Created a centered image to immediately grab the users attention. As it is the only project currently done, a link has been provided below the image as well*/
.horiseon {
    display: block;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    height: 80%;
}

/*A link allowing the user to travel to the webpage and inspect it if they so choose to*/
.fig-text {
    font-size: 32px;
    text-align: center;
    color: darkgoldenrod;
}

/*Gave the link a glowing effect to let the user know the link is clickable and will redirect them*/
.fig-shadow:hover {
    text-shadow: 1px 1px 2px var(--green);
}

/*Resized all placeholder images so they would fit in all screen sizes with some space between each article*/
.showcase-image{
    margin: 0px;
    padding: 0px;
    text-align: center;
    flex: 1 0 40%;
}

.image-sizing{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
    align-content: center;
}

/*Used to give some breathing room to the personal section (about me, contact me, etc.) Also resized a photo and rounded the edges and gave both sections a gray background to fit with color scheme*/
.personality {
    margin: 10px;
    padding: 20px;
    text-align: center;
    flex: 1 0 20%
}

#zoom{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

#about-me{
    padding: 10px 0px 125px 0px;
    background-color: var(--gray);
    border: darkgray outset 5px;
}

#contact-me{
    padding: 10px 0px 100px 0px;
    background-color: var(--gray);
    border: darkgray outset 5px;
}

.first-image{
    flex: 1 0 100%;
}

/*Defining the media size and new interactions with the website on a smaller screen. The image will now be displayed instead of the video.*/

@media screen and (max-width: 928px){

/*The video will be hidden and instead a screenshot will display in the name of efficiency and bandwitdth for certain users*/
    .background-video{
        display: none;
    }

   
    .background-image{
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 0;
        overflow: hidden;
        z-index: -1;
    }
/*moves the nav section to a more manageable place for tablet and mobile users*/
    ul{
        justify-content:space-around;
    }

    li{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .showcase-image{
        flex: 1 0 100%;
    }

}

@media screen and (max-width: 728px){
    
}